@tailwind base;
@tailwind components;
@tailwind utilities;


span {
    position: relative;
    display: inline-block;
  }
  
  span::before,
  span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000000;
    top: 50%;
    transition: width 0.5s ease;
  }
  
  span::before {
    left: 50%;
  }
  
  span::after {
    right: 50%;
  }
  
  span.active::before,
  span.active::after {
    width: 50%;
    transition: width 0.5s ease;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;  /* or height for horizontal scrollbars */
}



/* Style the scrollbar thumb (the draggable part) */
/* Style the scrollbar thumb (the draggable part) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f4afabff;
  border-radius: 6px;
  border: 2px solid black;
  margin-right: 5px ;
}


/* Optionally, style the scrollbar thumb on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f4cbc6ff;
}